/****************
 * COLOR PALETTE
 ****************/
$palette: (
	// Common
	trans: transparent,
	black: #000,
	white: #fff,

	// Darks
	blackOlive:       #3a3a3a,
	darkGunmetal:     #20232a,
	gunmetal:         #243342,
	licorice:         #141414,
	maastrichtBlue:   #00192f,
	onyx:             #34373d,
	raisinBlack:      #241e19,
	richBlack:        #080b15,

	// Greys
	silverChalice:    #adadad,
	spanishGray:      #999,

);