/****************
 * COLOR PALETTE
 ****************/
$palette: (
	// Common
	trans: transparent,
	black: #000,
	white: #fff,

	// Blues
	honoluluBlue:     #0674ad,

	// Darks
	blackOlive:       #3a3a3a,
	darkGunmetal:     #20232a,
	gunmetal:         #243342,
	licorice:         #141414,
	lightSlateGray:   #778799,
	maastrichtBlue:   #00192f,
	onyx:             #34373d,
	outerSpace:       #3e4852,
	raisinBlack:      #241e19,
	richBlack:        #080b15,
	trolleyGrey:      #808080,

	// Greys
	lightGray:        #d7d5d3,
	pastelGray:       #d2d4c8,
	paynesGrey:       #5f6e7e,
	silverChalice:    #adadad,
	spanishGray:      #999,

	// Lights
	antiFlashWhite:   #f1f1f1,
	gainsboro:        #ddd,
	whiteSmoke:       #f5f5f5,

	// Reds
	jasper:           #db3a4d,
);