/****************
 * COLOR PALETTE
 ****************/
$palette: (
	// Common
	trans: transparent,
	black: #000,
	white: #fff,

	// Darks
	blackOlive:       #3a3a3a,
	darkGunmetal:     #20232a,
	gunmetal:         #243342,
	licorice:         #141414,
	maastrichtBlue:   #00192f,
	onyx:             #34373d,
	raisinBlack:      #241e19,
	richBlack:        #080b15,

	// Greys
	lightGray:        #d7d5d3,
	pastelGray:       #d2d4c8,
	paynesGrey:       #5f6e7e,
	silverChalice:    #adadad,
	spanishGray:      #999,

	// Lights
	antiFlashWhite:   #f1f1f1,
	gainsboro:        #ddd,
	whiteSmoke:       #f7f7f7,
);