<div
	class="
		rb-code
		${props.kind}
		theme-${props.theme}
		mode-${props.mode}
		${props.readonly ? 'readonly' : ''}
		${props.scrollable ? 'scrollable' : ''}
		${props.height !== 'auto' ? `${props.height}-height` : ''}
	">
	<div class="label">
		${props.label
			? html`<label>${props.label}</label>`
			: ''
		}
		<div class="actions">
			<rb-popover
				id="copy"
				inherit-color
				icon-kind="copy">
				Copied! <rb-icon kind="thumbs-up"></rb-icon>
			</rb-popover>
		</div>
	</div>
	<textarea
		tabindex="-1"
		placeholder="${View.ifDefined(props.placeholder || undefined)}"></textarea>
</div>

<style id="editor"></style>
<style id="theme"></style>
<link rel="stylesheet" href="../styles/rb-code.css">