<div
	class="
		rb-code
		${props.kind}
		${props.theme}-theme
		${props.readonly ? 'readonly' : ''}
		${props.scrollable ? 'scrollable' : ''}
		${props.height !== 'auto' ? `${props.height}-height` : ''}
	">
	<section class="titlebar">
		${props.caption ? html`<h3 class="caption">${props.caption}</h3>` : null}
		<div class="actions">
			<rb-popover
				inherit-color
				icon-kind="copy">
				Copied! <rb-icon kind="thumbs-up"></rb-icon>
			</rb-popover>
		</div>
	</section>
	<textarea tabindex="-1"></textarea>
</div>

<style id="editor"></style>
<style id="theme"></style>
<link rel="stylesheet" href="../styles/rb-code.css">