/**********
 * CAPTION
 **********/
.caption {
	align-self: flex-end;
	margin: 0;
	padding: 0;
	color: inherit;
	text-shadow: none;
	line-height: inherit;
	letter-spacing: .5px;
	word-break: break-all;
	text-transform: uppercase;
}