/*********
 * EDITOR
 *********/
.editor-wrap {
	position: relative; // for readonly and hidden textarea
}

.CodeMirror {
	height: auto;
	line-height: 18px;
	text-align: left;
}

/* Theme (adjustments)
 ********/
.without-line-numbers .cm-s-yonce {
	.CodeMirror-line {
		padding-left: 4px;
	}
}