/*********
 * EDITOR
 *********/
.editor-wrap {
	position: relative; // for readonly and hidden textarea
}
.CodeMirror {
	height: auto; // auto makes editor resize to fit content
	text-align: left;
}

.form-control {
	&.theme-rapid .CodeMirror { line-height: 20px; }
	&:not(.theme-rapid) .CodeMirror { line-height: 18px; }
}

/* Theme (adjustments)
 ********/
.without-line-numbers .cm-s-yonce {
	.CodeMirror-line {
		padding-left: 4px;
	}
}