/*********
 * EDITOR
 *********/
.CodeMirror {
	height: auto;
	line-height: 18px;
	text-align: left;
}

/* One Dark Theme (if we want it darker)
 *****************/
// .cm-s-one-dark,
// .cm-s-one-dark .CodeMirror-gutter,
// .cm-s-one-dark .CodeMirror-gutters {
// 	background-color: #141414; // licorice
// }