/**********
 * OPTIONS
 **********/
.rb-code.readonly {
	.label::before {
		position: absolute; // to .label
		top: 100%;
		right: 4px;
		z-index: 2;
		opacity: 0;
		transition: opacity .8s;
		content: 'readonly';
	}
	&:hover .label::before {
		opacity: .7;
	};
}