/**************
 * RAPID THEME
 **************/
.form-control.theme-rapid {
	max-width: $MAX_WIDTH;

	.subtext {
		margin: 3px 0 0;
		padding: 0 1px;
	}
	&.without-line-numbers:not(.right) {
		.CodeMirror-lines { margin-left: -3px; }
	}

	.label {
		padding: 0 2px 5px 0;
		color: mapGet($palette, paynesGrey);
		label {
			font-size: 15px;
			font-weight: 600;
			text-transform: none;
			letter-spacing: .01em;
		}
	}
	.CodeMirror {
		// IMPORTANT (font-size also in rb-code.js if changed, must also change in js: getEditorFontSize())
		font-size: 16px;
		line-height: 20px;
		color: mapGet($palette, paynesGrey);
		font-family: mapGet($fonts, default);
	}
	&.active {
		.CodeMirror {
			color: mapGet($palette, outerSpace);
		}
		&:not(.invalid) label {
			color: mapGet($palette, honoluluBlue);
		}
	}
}