/******************
 * HIDDEN TEXTAREA (trick to copy hidden textarea)
 ******************/
textarea {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	border-color: transparent; // can't copy with border none
	display: block; // !important
	// Testing
	// width: 100%;
	// height: 200px;
	// box-sizing: border-box;
}