/***********
 * TITLEBAR
 ***********/
.titlebar {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 5px 13px 8px 8px;
	min-height: 17.5px; // copy icon height, prevents shift shock
	line-height: 16.5px;
	> * {
		flex: auto; // grow items to container width
	}
	.caption ~ .actions {
		margin-left: 8px;
	}
}