/**********
 * BORDERS
 **********/
.rb-code {
	$r: 5px;
	.CodeMirror {
		border-radius: $r;
	}
	&:not(.no-label) {
		.label {
			border-radius: $r $r 0 0;
			~ .CodeMirror {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}