/*********
 * COLORS
 *********/
.titlebar {
	color: #999;
	background: #20232a;
	border-bottom: 1px solid #34373d;
}

/* Editor
 *********/
.rb-code {
	.CodeMirror-placeholder {
		color: #adadad;
	}
}